.background {
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(223, 41, 53, 1) 0%, rgba(223, 41, 53, 0.5) 75%, rgba(255,255,255,0.5) 99%);
}

.reset-link,
.reset-link:link,
.reset-link:visited {
    text-decoration: none;
    color: #000;
}

.reset-link:hover,
.reset-link:active {
    text-decoration: none;
    color: #000;
}

.cursor-pointer {
    cursor: pointer;
}

.img-contain {
    height: 200px;
    object-fit: contain;
    width: 100%;
}

.icon-contain {
    height: 200px;
}

.navbar-custom-color {
    background-color: #fdca40!important;
}

.home__order:hover {
    transform: scale(1.1);
    transition: 250ms ease-out;
}

.main-title {
    font-family: 'Cookie', cursive;
}

.skeleton {
  /*
    define as separate properties
  */
  --card-height: 340px;
  --card-padding:24px;
  --card-skeleton: linear-gradient(gray var(--card-height), transparent 0);

  --title-height: 32px;
  --title-width: 200px;
  --title-position: var(--card-padding) 180px;
  --title-skeleton: linear-gradient(white var(--title-height), transparent 0);

  --avatar-size: 32px;
  --avatar-position: var(--card-padding) var(--card-padding);
  --avatar-skeleton: radial-gradient(
    circle calc(var(--avatar-size) / 2), 
    white 99%, 
    transparent 0
  );

  /* 
    now we can break the background up 
    into individual shapes 
  */
  background-image: 
    var(--avatar-skeleton),
    var(--title-skeleton),
    var(--card-skeleton);

  background-size:
    var(--avatar-size),
    var(--title-width) var(--title-height),
    100% 100%;

  background-position:
    var(--avatar-position),
    var(--title-position),
    0 0;
}
